<div id="Entrega" data-role="view" data-title="" data-layout="main" data-model="app.entrega.entregasModel" data-init="app.entrega.onShow" data-after-show="app.entrega.cargaPosAlmacenesDespachador">
    <div id="divMapEntrega" align="center">
    </div>
    <div id="mapEntrega" style="width:100%;"></div>
    <div class="button-group">
        <a data-role="button" href="index.html">Regresar</a>
        <a data-role="button" data-bind="events: { click: entregas.onSaveClick }">Confirmar</a>
    </div>
</div>