<div data-role="view" data-title="Edit" data-model="app.store.editItemViewModel" data-bind="events: { show: onShow }" id="storeModelEditItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: currentItem.Text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_storeModel -->
    <!-- END_CUSTOM_CODE_storeModel -->
    <div id="editableListForm7" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>

                    <label><span>Apunte</span>
                        <input id="editText" data-bind="value: editFormData.editText" type="text">
                    </label>

                </li>
                <li>

                    <label><span>Like</span>
                        <input id="editLike" data-bind="value: editFormData.editLike" data-role="switch">
                    </label>

                </li>
                <li>

                    <label><span>Detalle</span>
                        <input id="editSortText" data-bind="value: editFormData.editSortText" type="text">
                    </label>

                </li>
                <li>

                    <label><span>Narración</span>
                        <input id="editLongText" data-bind="value: editFormData.editLongText" type="text">
                    </label>

                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm7 -->
        <!-- END_CUSTOM_CODE_editableListForm7 -->
    </div>
</div>