<div id="adminitradorGeoreferencia" data-role="view" data-title="&nbsp" data-layout="main">
    <header data-role="header">
        <div id="headerAdministrador" data-role="navbar" class="header-text">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right">
                <!--                 <a data-role="detailbutton" data-icon="info" class="iconInfo" data-bind="{events: {click: entradasModel.openModalInfoGeoref} }"></a> -->
            </a>
        </div>
    </header>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <div align="center">
        <img src="components/georeferencia/images/fondoRestaurant.png" style="width:40%;" />
        <div class="button-group button-group-vertical">
            <a data-role="button" href="#components/georeferencia/listado.html">Listador de ordenes</a>
            <a data-role="button" href="#components/georeferencia/entregas.html">Mapa de ordenes</a>
        </div>
    </div>
</div>
<style>
    #headerAdministrador {
        background-image: none;
        background-color: transparent;
    }
</style>