<div id="agregarCarrito" data-role="view" data-title="Agregar orden" data-layout="main" data-model="app.entradas">
    <header data-role="header">
        <div id="headerAgregar" data-role="navbar" class="header-text">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" id="carritoImagen" data-align="right" data-bind="events: { click: onSaveClick }"></a>
        </div>
    </header>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <div align="center">
        <img src="components/georeferencia/images/fondoRestaurant.png" style="width:40%;" />
        <div class="button-group button-group-vertical">
            <a data-role="button" data-rel="actionsheet" href="#actionsheet">Agregar al carrito</a>
            <a data-role="button" onclick="readyAgregar('carrito');">Pedir</a>
        </div>
    </div>
    <ul id="actionsheet" data-role="actionsheet" data-open="readyAgregar" data-close="goToEntradas">
        <li>
            <a>
                <div style="padding: 0em 0em 1em 1em">
                    <label id="ordenEntrada" style="float: left;"></label>
                    <label style="float: right;color:white;font-size: xx-large;">X</label>
                    </br>
                    <label id="ordenPlato" style="float: left;"></label>
                    <!--                     <label style="float: right;color:white;"><i class="fa fa-times fa-4x"></i>
                    </label> -->
                </div>
            </a>
        </li>
    </ul>
</div>
<style>
    .km-actionsheet-cancel {
        display: none;
    }
    .km-nova .km-actionsheet-wrapper,
    .km-nova .km-actionsheet>li>a,
    .km-nova .km-popup .k-item {
        color: black;
        background: #ffcd86;
        border-color: #ffcd86;
    }
    .km-view,
    #agregarCarrito {
        background-image: none;
        background-color: white;
    }
    #agregarCarrito .button-group .km-button {
        padding: 1.5em;
        width: 80%;
        background-color: #c95820;
    }
    #carritoImagen {
        background-image: url('components/georeferencia/images/carrito.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        margin: 4px;
    }
    #headerAgregar {
        font: normal 1em "Helvetica Neue", "Helvetica", "Roboto Light", "Arial", "Verdana", "sans-serif";
        background-image: none;
        background-color: #c95820;
    }
</style>
<script>
    function readyAgregar(carrito) {
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            } else {
                return results[1] || 0;
            }
        }
        var IdPlato = $.urlParam('IdPlato');
        var Plato = $.urlParam('Plato');
        var PrecioPlato = $.urlParam('PrecioPlato');
        var IdEntrada = $.urlParam('IdEntrada');
        var Entrada = $.urlParam('Entrada');
        var PrecioEntrada = $.urlParam('PrecioEntrada');

        if (IdPlato && Plato && PrecioPlato && IdEntrada && Entrada && PrecioEntrada) {
            if (localStorage.getItem("ordenesCarrito") != undefined) {
                var ordenesGuardas = JSON.parse(localStorage.getItem('ordenesCarrito'));
                ordenesGuardas.push({
                    "IdPlato": IdPlato,
                    "Plato": Plato,
                    "PrecioPlato": PrecioPlato,
                    "IdEntrada": IdEntrada,
                    "Entrada": Entrada,
                    "PrecioEntrada": PrecioEntrada
                });
                localStorage.setItem("ordenesCarrito", JSON.stringify(ordenesGuardas));
                var ordenesCarrito = localStorage.getItem('ordenesCarrito');
                console.log('IF ordenesCarrito: ', JSON.parse(ordenesCarrito));
            } else {
                var nuevaOrden = [{
                    "IdPlato": IdPlato,
                    "Plato": Plato,
                    "PrecioPlato": PrecioPlato,
                    "IdEntrada": IdEntrada,
                    "Entrada": Entrada,
                    "PrecioEntrada": PrecioEntrada
            }];
                localStorage.setItem("ordenesCarrito", JSON.stringify(nuevaOrden));
                var ordenesCarrito = localStorage.getItem('ordenesCarrito');
                console.log('ELSE ordenesCarrito: ', JSON.parse(ordenesCarrito));
            }

            $("#ordenEntrada").text("S/ " + (PrecioEntrada < 10 ? "0" + PrecioEntrada : PrecioEntrada) + "  " + Entrada);
            $("#ordenPlato").text("S/ " + (PrecioPlato < 10 ? "0" + PrecioPlato : PrecioPlato) + "  " + Plato);
        } else {
            $("#ordenEntrada").text("Error al generar la orden");
            $("#ordenPlato").text("");
        }
        goToEntradas(carrito);
    }

    function goToEntradas(carrito) {
            app.mobileApp.navigate(carrito == "carrito" ? '#components/georeferencia/carrito.html' : '#components/georeferencia/entrada.html');
        }
        // function readyAgregar(e) {
        //     if (localStorage.getItem("ordenesCarrito") != undefined) {
        //         var ordenesGuardas = JSON.parse(localStorage.getItem('ordenesCarrito'));
        //         ordenesGuardas.push({
        //             "IdPlato": e.view.params.IdPlato,
        //             "Plato": e.view.params.Plato,
        //             "PrecioPlato": e.view.params.PrecioPlato,
        //             "IdEntrada": e.view.params.IdEntrada,
        //             "Entrada": e.view.params.Entrada,
        //             "PrecioEntrada": e.view.params.PrecioEntrada
        //         });
        //         localStorage.setItem("ordenesCarrito", JSON.stringify(ordenesGuardas));
        //         var ordenesCarrito = localStorage.getItem('ordenesCarrito');
        //         console.log('IF ordenesCarrito: ', JSON.parse(ordenesCarrito));
        //     } else {
        //         var nuevaOrden = [{
        //             "IdPlato": e.view.params.IdPlato,
        //             "Plato": e.view.params.Plato,
        //             "PrecioPlato": e.view.params.PrecioPlato,
        //             "IdEntrada": e.view.params.IdEntrada,
        //             "Entrada": e.view.params.Entrada,
        //             "PrecioEntrada": e.view.params.PrecioEntrada
        //         }];
        //         localStorage.setItem("ordenesCarrito", JSON.stringify(nuevaOrden));
        //         var ordenesCarrito = localStorage.getItem('ordenesCarrito');
        //         console.log('ELSE ordenesCarrito: ', JSON.parse(ordenesCarrito));
        //     }

    //     $("#ordenEntrada").text("S/ " + (e.view.params.PrecioEntrada < 10 ? "0" + e.view.params.PrecioEntrada : e.view.params.PrecioEntrada) + "  " + e.view.params.Entrada);
    //     $("#ordenPlato").text("S/ " + (e.view.params.PrecioPlato < 10 ? "0" + e.view.params.PrecioPlato : e.view.params.PrecioPlato) + "  " + e.view.params.Plato);
    // }
</script>