<script src="components/georeferencia/database/entradas.js"></script>
<div data-role="view" data-init="mobileListViewPullWithEndless" data-title="Pull to refresh">
    <ul data-role="listview" data-auto-bind="false" data-style="inset" id="listviewEntradas"></ul>
    <!--     <ul id="listviewEntradas" data-role="listview" data-auto-bind="false" data-style="inset" data-template="entradasModelTemplate" data-bind="{ source: entradasModel.dataSource}" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul> -->
</div>
<!-- <script type="text/x-kendo-tmpl" id="pull-with-endless-template">
    <div class="product-item">
        <h3>#:Entrada#</h3>
        <span class="km-badge km-listview-item-badge">#:kendo.toString(Precio, "c")#</span>
    </div>
</script> -->
<script type="text/x-kendo-tmpl" id="entradasModelTemplate">
    <div class="thumb">
        <img src="components/georeferencia/images/platos/#: data['Entrada'] #.jpg" title="#: data['Entrada'] #" alt="#: data['Precio'] #" />
        <div>
            <div>
                </br>
                </br>
                <p>#: data['Entrada'] #:</p>
                </br>
                <h2 class="km-badge km-listview-item-badge">S/. #: data['Precio'] #</h2>
                <!--p>#: data['Descripcion'] #</p-->
                </br>
                <i class="fa fa-check fa-3x" onclick="verListaPlatos('#: data['Id'] #','#: data['Entrada'] #','#: data['Precio'] #' );"></i>
            </div>
        </div>
    </div>
</script>
<script>
    function verListaPlatos(Id,Entrada,Precio) {
        app.mobileApp.navigate('#components/georeferencia/platos.html?'+'Id='+ Id+ '&Entrada='+Entrada+'&Precio='+Precio);
    }

    function mobileListViewPullWithEndless(e) {
        var dataSource = new kendo.data.DataSource({
            data: entradas,
            schema: {
                total: function () {
                    return 4;
                }
            },
            serverPaging: true,
            pageSize: 10
        });

        $("#listviewEntradas").kendoMobileListView({
            dataSource: dataSource,
            template: $("#entradasModelTemplate").text(),
            pullToRefresh: false,
            endlessScroll: false
        });
    }
</script>
<style>
    #listviewEntradas {
        padding-left: 0;
    }
    #listviewEntradas>li {
        padding-left: 0;
        padding: 0;
    }
    .thumb {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .thumb img {
        width: 100%;
        padding: 0;
        -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
    }
    .thumb > div div {
        padding: 20px 40px;
    }
    .thumb:hover > div {
        display: block;
        opacity: 1;
        animation: bounceY 0.9s linear;
    }
    .thumb div div {
        text-align: center;
    }
    .thumb div div h2 {
        font-size: 1.2em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        position: inherit;
    }
    .thumb div div p {
        color: rgba(0, 0, 0, 0.5);
    }
    .thumb div div i {
        color: rgba(0, 0, 0, 0.5);
    }
    .thumb > div {
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transition: opacity 0.3s linear;
        color: rgba(0, 0, 0, 0.5);
    }
    @keyframes bounceY {
        0% {
            transform: translateY(-500px);
        }
        40% {
            transform: translateY(-100px);
        }
        65% {
            transform: translateY(-52px);
        }
        82% {
            transform: translateY(-25px);
        }
        92% {
            transform: translateY(-12px);
        }
        55%,
        75%,
        87%,
        97%,
        100% {
            transform: translateY(0px);
        }
    }
</style>