<style>
    .km-nova h1,
    .km-nova h2,
    .km-nova h3,
    .km-nova h4,
    .km-nova h5,
    .km-nova h6,
    .km-nova p {
        color: white;
    }
</style>
<div id="Entrega" data-role="view" data-title="" data-layout="main" data-model="app.entrega.entregaModel" data-show="app.entrega.onShow" data-after-show="app.entrega.afterShow">
    <div id="divMapEntrega" align="center">
    </div>
    <div id="mapEntrega" style="width:100%;"></div>
    <div class="button-group">
        <a data-role="button" href="index.html">Regresar</a>
        <a data-role="button">Confirmar</a>
    </div>
    <!--  Certain features like grouping and inset styling are not supported when endless scroll is enabled. -->
    <form class="km-filter-form custom-filter">
        <div class="km-filter-wrap">
            <input id="buscarOrden" type="serach" placeholder="Search..." data-bind="{events:{keyup: searchChange}}">
        </div>
    </form>
    <ul data-role="listview" data-auto-bind="false" data-style="" data-template="entregasModelTemplate" data-bind="{ source: entregaModel.dataSource}">
    </ul>
    <!-- START_CUSTOM_CODE_storeModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_storeModel -->
    <script type="text/x-kendo-template" id="entregasModelTemplate">
        <div class="image-with-text">
            <img src="#: data['PictureUrl'] #" width="30%" height="30%">
            <h3><span class="#: data.icon() #"></span>Orden: #: data['Orden'] #</h3>
            <p>Costo: S/. #: data['Costo'] #</p>
        </div> 
    </script>
</div>