<style>
    #entregasFirma {
        background-image: url("components/firma/images/firmaFondoBlur.png");
    }
</style>
<div id="entregasFirma" data-role="view" data-title="" data-layout="main" data-model="app.firma.firmaModel" data-init="app.firma.onShow" data-after-show="app.firma.afterShow">
    <div class="button-group">
        <a data-role="button" href="index.html">Regresar</a>
        <a data-role="button">Confirmar</a>
    </div>
    <!--  Certain features like grouping and inset styling are not supported when endless scroll is enabled. -->
    <form class="km-filter-form custom-filter">
        <div class="km-filter-wrap">
            <input type="serach" placeholder="Search..." data-bind="{events:{keyup: searchChange}}">
        </div>
    </form>
    <input id="inputFirma" type="text">
    <ul data-role="listview" data-auto-bind="false" data-style="" data-template="firmaModelTemplate" data-bind="{ source: firmaModel.dataSource}">
    </ul>
    <!-- START_CUSTOM_CODE_storeModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_storeModel -->
    <!--     # for (var i = 0; i < data['UserExpanded'].length; i++) { #
                        <li>#= UserExpanded[i] #</li># } # -->
    <script type="text/x-kendo-template" id="firmaModelTemplate">
        <div class="image-with-text">
            <img src="#: data['PictureUrl'] #" width="30%" height="30%">
            <a data-bind="events: { click: goToFirma }">
                <h3><span class="#: data.icon() #"></span>#: data['Users'] #</h3>
                <p>Costo de la órden: #: data['Users'] #</p>
                <label>Firma
                </label>
                <h3>#= UserExpanded #<h3>
            </a>
        </div>
    </script>
</div>