<div id="Firma" data-role="view" data-title="" data-layout="main">
    </br>
    </br>
    </br>
    </br>
    </br>
    <div align="center">
        <div class="button-group button-group-vertical">
            <a data-role="button" href="#components/firma/entregas.html">Entregas</a>
        </div>
    </div>
</div>
<style>
    .km-nova .km-content {
        background-color: transparent;
    }
    @font-face {
        font-family: "Rage";
        src: url("components/firma/fonts/RAGE.TTF") format("ttf"), url("components/firma/fonts/RAGE.TTF") format("truetype"), url("components/firma/fonts/RAGE.TTF") format("svg")
    }
    #Orden,
    #Firma,
    #firmaView,
    #entregasFirma {
        font-family: "Rage";
        /*         font-size: 40px; */
        
        color: red;
    }
    .km-view,
    #Firma {
        background-image: url("components/firma/images/firmaFondo.png");
        background-size: 100% 100%;
    }
    #Firma .button-group .km-button {
        padding: 0em;
        width: 80%;
    }
    #Orden .button-group .km-button {
        padding: 1.5em;
    }
    #Orden .button-group {
        width: 100%;
    }
    .km-nova .km-button,
    .km-nova .km-buttongroup .km-button {
        border-radius: 20px;
    }
    #Firma .km-button,
    #entregasFirma .button-group .km-button,
    #firmaView .km-button {
        border-color: Crimson;
        background: rgba(255, 255, 255, 0.3);
        color: #CA1818;
        font-size: 40px;
        padding: 0em;
    }
    #Firma .km-button:active {
        background: rgba(0, 0, 0, 0.3);
        color: Crimson;
        border-color: Crimson;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
        transition: box-shadow 2s, transform 500ms, filter 500ms ease-in-out;
    }
</style>